textarea {
  width: 800px;
  background-color: transparent;
  border: none;
  resize: none;
  border-bottom: 2px solid black;
  
}

textarea:focus {
  outline: none;
}

button {
background-color: blue;
color: white;
}

.counter-tweet {
  font-weight: 900;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

#error-message {
  display: none; /* Hide the error message initially */
  color: red; /* Set the text color to red */
  font-weight: bold; /* Make the text bold */
  margin-top: 5px; /* Add some spacing from the elements above */
}
