.avatar {
  width: 100px;
  height: auto;
}

.tweets header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweets footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-text {
  border-bottom: 3px solid;
}

.icons :hover {
  color: rgb(222, 222, 10);
}

.tweet-text {
  box-shadow: 5 5 10px blue (0, 0, 0, 0.3);
}